*.class
*.json
.project
.classpath
.settings/
target/
bin/
gen/

Resources/**

strings.xml
build.gradle
gd_icon.png
game.xml
game.json
R.java
PlatformAssetManager.java
GD*GamePlaynResources.java
*GameCameraSetup.java
*ThreedLevelBuilder.java
AndroidResources.java
AndroidManifest.xml
GDCustomGameLayer.java
GDCustomGameLayerFactory.java
GDGameAndroidActivity.java
GDGameAndroidEarlyResourceInitialization.java
GDGameThreedAndroidEarlyResourceInitialization.java
GDGameThreedLevelBuilderFactory.java
GD0GameSoundsFactory.java
GD1GameSoundsFactory.java
GD2GameSoundsFactory.java
GDGame*LevelBuilder.java
GDGame*Canvas.java
*GDObjectsFactory*.java
GD*SpecialAnimation*.java
*SpecialAnimation*.xml
GDNonLayout.xml
GD*Sound.java
GD*Sounds.java
GDGameGlobals.java

GDGameMIDlet.java
GDResources.java
GDGameCommandFactory.java
GDGame*CanvasRunnable.java
GD*GameGameResourcesImageBasedAnimationInterfaceFactoryInterfaceFactory.java
GD*GameTouchGameResourcesImageBasedAnimationInterfaceFactoryInterfaceFactory.java

/platform/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/**/*.xml
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/**/*.xml
/platform/j2se/GDGameJ2SEApplicationM/src/**/*.java
/platform/j2se/GDGameJ2SEApplicationM/src/**/*.svg
/platform/j2se/GDGameJ2SEApplicationM/src/**/*.png
/platform/j2se/GDGameJ2SEApplicationM/src/**/*.xsl
/platform/j2se/GDGameJ2SEApplicationM/src/**/*.xml
/platform/j2se/GDGameJ2SEApplicationM/src/**/*.dat
/platform/j2se/GDGameJ2SEApplicationM/src/**/*.properties
/platform/j2se/GDGameJ2SEApplicationM/src/**/*.MF
/platform/j2se/GDGameJ2SEApplicationM/src/**/*.origin
/platform/j2se/GDGameJ2SEApplicationM/src/**/*.html
/platform/j2se/GDGameJ2SEApplicationM/src/**/*.txt
/platform/j2se/GDGameJ2SEApplicationM/src/**/*.ogg
/platform/j2me/GDGameJ2MEApplicationM/src/**/*.java
/platform/j2me/GDGameJ2MEApplicationM/src/**/*.svg
/platform/j2me/GDGameJ2MEApplicationM/src/**/*.png
/platform/j2me/GDGameJ2MEApplicationM/src/**/*.xsl
/platform/j2me/GDGameJ2MEApplicationM/src/**/*.xml
/platform/j2me/GDGameJ2MEApplicationM/src/**/*.dat
/platform/j2me/GDGameJ2MEApplicationM/src/**/*.properties
/platform/j2me/GDGameJ2MEApplicationM/src/**/*.MF
/platform/j2me/GDGameJ2MEApplicationM/src/**/*.origin
/platform/j2me/GDGameJ2MEApplicationM/src/**/*.html
/platform/j2me/GDGameJ2MEApplicationM/src/**/*.txt
/platform/j2me/GDGameJ2MEApplicationM/src/**/*.ogg
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.java
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.xsl
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.xml
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.MF
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.origin
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.original
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.properties
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.svg
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.png
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.ogg
/platform/html/GDGameHTMLTempM/src/**/*.java
/platform/html/GDGameHTMLTempM/src/**/*.xsl
/platform/html/GDGameHTMLTempM/src/**/*.xml
/platform/html/GDGameHTMLTempM/src/**/*.MF
/platform/html/GDGameHTMLTempM/src/**/*.properties
/platform/html/GDGameHTMLTempM/src/**/*.origin
/platform/html/GDGameHTMLTempM/src/**/*.ogg
./platform/html/GDGamePlayNM/src/playn/core/GraphicsTestGame.java
./platform/html/GDGamePlayNM/src/playn/core/SoundTestGame.java
/platform/html/GDGamePlayNWarM/war/gd/res
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.java
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.xsl
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.xml
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.MF
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.origin
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.original
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.properties
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.svg
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.png
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.ogg
/platform/android/GDGameAndroidApplicationM/src/main/res/drawable/
/platform/android/GDGameAndroidApplicationM/src/main/res/raw/
/platform/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.java
/platform/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.xsl
/platform/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.xml
/platform/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.MF
/platform/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.origin
/platform/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.original
/platform/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.properties
/platform/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.svg
/platform/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.png
/platform/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.ogg
/platform/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/res/drawable/
/platform/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/res/raw/
/platform/android/GDGameThreedAndroidApplicationM/src/main/java/**/*.java
/platform/android/GDGameThreedAndroidApplicationM/src/main/java/**/*.xsl
/platform/android/GDGameThreedAndroidApplicationM/src/main/java/**/*.xml
/platform/android/GDGameThreedAndroidApplicationM/src/main/java/**/*.MF
/platform/android/GDGameThreedAndroidApplicationM/src/main/java/**/*.origin
/platform/android/GDGameThreedAndroidApplicationM/src/main/java/**/*.original
/platform/android/GDGameThreedAndroidApplicationM/src/main/java/**/*.properties
/platform/android/GDGameThreedAndroidApplicationM/src/main/java/**/*.svg
/platform/android/GDGameThreedAndroidApplicationM/src/main/java/**/*.png
/platform/android/GDGameThreedAndroidApplicationM/src/main/java/**/*.ogg
/platform/android/GDGameThreedAndroidApplicationM/src/main/res/drawable/
/platform/android/GDGameThreedAndroidApplicationM/src/main/res/raw/
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.java
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.xsl
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.xml
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.MF
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.origin
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.original
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.properties
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.svg
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.png
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.ogg
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/res/drawable/
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/res/raw/
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/.idea
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/.gradle
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/build
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/release
