*.txt
*.old
*.bak
*.class
*.json
.project
.classpath
.settings/
target/
bin/
gen/

Resources/**

**/com/sun/speech/**
package.html
*.Manifest
Manifest
*.tsj
*.tmj

font.png
gd_icon.ico

*.dll

strings.xml
build.gradle
gd_icon.png
game.xml
game.json
R.java
GD*GDNodes.java
PlatformAssetManager.java
GDGameSoftwareInfo.java
GD*GamePlaynResources.java
GD*GameCameraSetup.java
*ThreedLevelBuilder.java
AndroidResources.java
AndroidManifest.xml
GDRotationAnimation.txt
GDCustomGameLayer.java
GDCustomGameLayerFactory.java
GDGameAndroidActivity.java
GDGameAndroidEarlyResourceInitialization.java
GDGameThreedAndroidEarlyResourceInitialization.java
GDGameThreedLevelBuilderFactory.java
GDCustomCollidableBehavior.java
GDCustomMaskCollidableBehavior.java
GDGameThreedAnimationResources.java
GD*GameMusicFactory.java
GD*GameSoundsFactory.java
GDGame*LevelBuilder.java
GDGame*Canvas.java
*GDObjectsFactory*.java
GD*SpecialAnimation*.java
*SpecialAnimation*.xml
GDNonLayout.xml
GD*Sound.java
GD*Sounds.java
GDGlobal**.java
GD*GameGlobal*.java
GDGameBaseJavaLibraryM/src/main/java/org/allbinary/game/GDGameMIDlet.java
GDGameThreedBaseJavaLibraryM/src/main/java/org/allbinary/game/GDGameMIDlet.java
GDResources.java
GDLazyResources.java
GDGameCommandFactory.java
GDGame*CanvasRunnable.java
GD*GameGameResourcesImageBasedAnimationInterfaceFactoryInterfaceFactory.java
GD*GameTouchGameResourcesImageBasedAnimationInterfaceFactoryInterfaceFactory.java
GD*GameTwoDGameResourcesImageBasedAnimationInterfaceFactoryInterfaceFactory.java
GD*GameTwoDTouchGameResourcesImageBasedAnimationInterfaceFactoryInterfaceFactory.java
GDGameTwoDGlobalGameResourcesImageBasedAnimationInterfaceFactoryInterfaceFactory.java

/platform/html/GDGameHTMLPlaynJavaLibraryM/src/main/java/gd/res/**
/platformx/avian/GDGameAvianApplicationM/src/main/java/**
/platformx/avian/GDGameAvianApplicationM/src/**/*.svg
/platformx/avian/GDGameAvianApplicationM/src/**/*.png
/platformx/avian/GDGameAvianApplicationM/src/**/*.xsl
/platformx/avian/GDGameAvianApplicationM/src/**/*.xml
/platformx/avian/GDGameAvianApplicationM/src/**/*.dat
/platformx/avian/GDGameAvianApplicationM/src/**/*.properties
/platformx/avian/GDGameAvianApplicationM/src/**/*.MF
/platformx/avian/GDGameAvianApplicationM/src/**/*.origin
/platformx/avian/GDGameAvianApplicationM/src/**/*.html
/platformx/avian/GDGameAvianApplicationM/src/**/*.txt
/platformx/avian/GDGameAvianApplicationM/src/**/*.ogg
/platformx/avian/GDGameAvianJOGLApplicationM/src/main/java/**
/platformx/avian/GDGameAvianJOGLApplicationM/src/**/*.svg
/platformx/avian/GDGameAvianJOGLApplicationM/src/**/*.png
/platformx/avian/GDGameAvianJOGLApplicationM/src/**/*.xsl
/platformx/avian/GDGameAvianJOGLApplicationM/src/**/*.xml
/platformx/avian/GDGameAvianJOGLApplicationM/src/**/*.dat
/platformx/avian/GDGameAvianJOGLApplicationM/src/**/*.properties
/platformx/avian/GDGameAvianJOGLApplicationM/src/**/*.MF
/platformx/avian/GDGameAvianJOGLApplicationM/src/**/*.origin
/platformx/avian/GDGameAvianJOGLApplicationM/src/**/*.html
/platformx/avian/GDGameAvianJOGLApplicationM/src/**/*.txt
/platformx/avian/GDGameAvianJOGLApplicationM/src/**/*.ogg
/platformx/j2se/GDGameJ2SEApplicationM/src/**/*.java
/platformx/j2se/GDGameJ2SEApplicationM/src/**/*.svg
/platformx/j2se/GDGameJ2SEApplicationM/src/**/*.png
/platformx/j2se/GDGameJ2SEApplicationM/src/**/*.xsl
/platformx/j2se/GDGameJ2SEApplicationM/src/**/*.xml
/platformx/j2se/GDGameJ2SEApplicationM/src/**/*.dat
/platformx/j2se/GDGameJ2SEApplicationM/src/**/*.properties
/platformx/j2se/GDGameJ2SEApplicationM/src/**/*.MF
/platformx/j2se/GDGameJ2SEApplicationM/src/**/*.origin
/platformx/j2se/GDGameJ2SEApplicationM/src/**/*.html
/platformx/j2se/GDGameJ2SEApplicationM/src/**/*.txt
/platformx/j2se/GDGameJ2SEApplicationM/src/**/*.ogg
/platformx/j2se/GDGameJ2SEApplicationM/src/**/*.wav
/platformx/j2se/GDGameJ2SEWithSWTApplicationM/src/main/java/**
/platformx/j2se/GDGameJ2SEWithSWTApplicationM/src/**/*.svg
/platformx/j2se/GDGameJ2SEWithSWTApplicationM/src/**/*.png
/platformx/j2se/GDGameJ2SEWithSWTApplicationM/src/**/*.xsl
/platformx/j2se/GDGameJ2SEWithSWTApplicationM/src/**/*.xml
/platformx/j2se/GDGameJ2SEWithSWTApplicationM/src/**/*.dat
/platformx/j2se/GDGameJ2SEWithSWTApplicationM/src/**/*.properties
/platformx/j2se/GDGameJ2SEWithSWTApplicationM/src/**/*.MF
/platformx/j2se/GDGameJ2SEWithSWTApplicationM/src/**/*.origin
/platformx/j2se/GDGameJ2SEWithSWTApplicationM/src/**/*.html
/platformx/j2se/GDGameJ2SEWithSWTApplicationM/src/**/*.txt
/platformx/j2se/GDGameJ2SEWithSWTApplicationM/src/**/*.ogg
/platformx/j2se/GDGameJ2SEWithSWTApplicationM/src/**/*.wav
/platformx/j2se/GDGameJ2SEWithSWTApplication_3_115_100M/src/main/java/**
/platformx/j2se/GDGameJ2SEWithSWTApplication_3_115_100M/src/**/*.svg
/platformx/j2se/GDGameJ2SEWithSWTApplication_3_115_100M/src/**/*.png
/platformx/j2se/GDGameJ2SEWithSWTApplication_3_115_100M/src/**/*.xsl
/platformx/j2se/GDGameJ2SEWithSWTApplication_3_115_100M/src/**/*.xml
/platformx/j2se/GDGameJ2SEWithSWTApplication_3_115_100M/src/**/*.dat
/platformx/j2se/GDGameJ2SEWithSWTApplication_3_115_100M/src/**/*.properties
/platformx/j2se/GDGameJ2SEWithSWTApplication_3_115_100M/src/**/*.MF
/platformx/j2se/GDGameJ2SEWithSWTApplication_3_115_100M/src/**/*.origin
/platformx/j2se/GDGameJ2SEWithSWTApplication_3_115_100M/src/**/*.html
/platformx/j2se/GDGameJ2SEWithSWTApplication_3_115_100M/src/**/*.txt
/platformx/j2se/GDGameJ2SEWithSWTApplication_3_115_100M/src/**/*.ogg
/platformx/j2se/GDGameJ2SEWithSWTApplication_3_115_100M/src/**/*.c
/platformx/j2se/GDGameJ2SEWithSWTApplication_3_115_100M/src/**/*.h
/platformx/j2se/GDGameJ2SEWithSWTJOGLApplicationM/src/main/java/**
/platformx/j2se/GDGameJ2SEWithSWTJOGLApplicationM/src/**/*.svg
/platformx/j2se/GDGameJ2SEWithSWTJOGLApplicationM/src/**/*.png
/platformx/j2se/GDGameJ2SEWithSWTJOGLApplicationM/src/**/*.xsl
/platformx/j2se/GDGameJ2SEWithSWTJOGLApplicationM/src/**/*.xml
/platformx/j2se/GDGameJ2SEWithSWTJOGLApplicationM/src/**/*.dat
/platformx/j2se/GDGameJ2SEWithSWTJOGLApplicationM/src/**/*.properties
/platformx/j2se/GDGameJ2SEWithSWTJOGLApplicationM/src/**/*.MF
/platformx/j2se/GDGameJ2SEWithSWTJOGLApplicationM/src/**/*.origin
/platformx/j2se/GDGameJ2SEWithSWTJOGLApplicationM/src/**/*.html
/platformx/j2se/GDGameJ2SEWithSWTJOGLApplicationM/src/**/*.txt
/platformx/j2se/GDGameJ2SEWithSWTJOGLApplicationM/src/**/*.ogg
/platformx/j2se/GDGameJ2SEWithSWTJOGLApplicationM/src/**/*.wav
/platformx/j2se/GDGameJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.svg
/platformx/j2se/GDGameJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.png
/platformx/j2se/GDGameJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.xsl
/platformx/j2se/GDGameJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.xml
/platformx/j2se/GDGameJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.dat
/platformx/j2se/GDGameJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.properties
/platformx/j2se/GDGameJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.MF
/platformx/j2se/GDGameJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.origin
/platformx/j2se/GDGameJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.html
/platformx/j2se/GDGameJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.txt
/platformx/j2se/GDGameJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.ogg
/platformx/j2se/GDGameJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.wav
/platformx/j2me/GDGameJ2MEApplicationM/src/**/*.java
/platformx/j2me/GDGameJ2MEApplicationM/src/**/*.svg
/platformx/j2me/GDGameJ2MEApplicationM/src/**/*.png
/platformx/j2me/GDGameJ2MEApplicationM/src/**/*.xsl
/platformx/j2me/GDGameJ2MEApplicationM/src/**/*.xml
/platformx/j2me/GDGameJ2MEApplicationM/src/**/*.dat
/platformx/j2me/GDGameJ2MEApplicationM/src/**/*.properties
/platformx/j2me/GDGameJ2MEApplicationM/src/**/*.MF
/platformx/j2me/GDGameJ2MEApplicationM/src/**/*.origin
/platformx/j2me/GDGameJ2MEApplicationM/src/**/*.html
/platformx/j2me/GDGameJ2MEApplicationM/src/**/*.txt
/platformx/j2me/GDGameJ2MEApplicationM/src/**/*.ogg
/platformx/android/GDGameAndroidApplicationM/src/main/java/**/*.java
/platformx/android/GDGameAndroidApplicationM/src/main/java/**/*.xsl
/platformx/android/GDGameAndroidApplicationM/src/main/java/**/*.xml
/platformx/android/GDGameAndroidApplicationM/src/main/java/**/*.MF
/platformx/android/GDGameAndroidApplicationM/src/main/java/**/*.origin
/platformx/android/GDGameAndroidApplicationM/src/main/java/**/*.original
/platformx/android/GDGameAndroidApplicationM/src/main/java/**/*.properties
/platformx/android/GDGameAndroidApplicationM/src/main/java/**/*.svg
/platformx/android/GDGameAndroidApplicationM/src/main/java/**/*.png
/platformx/android/GDGameAndroidApplicationM/src/main/java/**/*.ogg
/platformx/html/GDGameHTMLTempM/src/**
./platformx/html/GDGamePlayNM/src/playn/core/GraphicsTestGame.java
./platform/html/GDGamePlayNM/src/playn/core/SoundTestGame.java
/platform/html/GDGamePlayNWarM/war/gd/res
/platformx/android/GDGameAndroidApplicationM/src/main/java/**/*.java
/platformx/android/GDGameAndroidApplicationM/src/main/java/**/*.xsl
/platformx/android/GDGameAndroidApplicationM/src/main/java/**/*.xml
/platformx/android/GDGameAndroidApplicationM/src/main/java/**/*.MF
/platformx/android/GDGameAndroidApplicationM/src/main/java/**/*.origin
/platformx/android/GDGameAndroidApplicationM/src/main/java/**/*.original
/platformx/android/GDGameAndroidApplicationM/src/main/java/**/*.properties
/platformx/android/GDGameAndroidApplicationM/src/main/java/**/*.svg
/platformx/android/GDGameAndroidApplicationM/src/main/java/**/*.png
/platformx/android/GDGameAndroidApplicationM/src/main/java/**/*.ogg
/platformx/android/GDGameAndroidApplicationM/src/main/res/drawable/
/platformx/android/GDGameAndroidApplicationM/src/main/res/raw/
/platformx/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/**/*.xml
/platformx/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.java
/platformx/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.xsl
/platformx/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.xml
/platformx/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.MF
/platformx/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.origin
/platformx/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.original
/platformx/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.properties
/platformx/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.svg
/platformx/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.png
/platformx/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.ogg
/platformx/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/res/drawable/
/platformx/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/res/raw/
/platformx/android/GDGameThreedAndroidApplicationM/src/main/java/**/*.java
/platformx/android/GDGameThreedAndroidApplicationM/src/main/java/**/*.xsl
/platformx/android/GDGameThreedAndroidApplicationM/src/main/java/**/*.xml
/platformx/android/GDGameThreedAndroidApplicationM/src/main/java/**/*.MF
/platformx/android/GDGameThreedAndroidApplicationM/src/main/java/**/*.origin
/platformx/android/GDGameThreedAndroidApplicationM/src/main/java/**/*.original
/platformx/android/GDGameThreedAndroidApplicationM/src/main/java/**/*.properties
/platformx/android/GDGameThreedAndroidApplicationM/src/main/java/**/*.svg
/platformx/android/GDGameThreedAndroidApplicationM/src/main/java/**/*.png
/platformx/android/GDGameThreedAndroidApplicationM/src/main/java/**/*.ogg
/platformx/android/GDGameThreedAndroidApplicationM/src/main/res/drawable/
/platformx/android/GDGameThreedAndroidApplicationM/src/main/res/raw/
/platformx/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/**/*.xml
/platformx/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.java
/platformx/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.xsl
/platformx/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.xml
/platformx/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.MF
/platformx/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.origin
/platformx/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.original
/platformx/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.properties
/platformx/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.svg
/platformx/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.png
/platformx/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.ogg
/platformx/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/res/drawable/
/platformx/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/res/raw/
/platformx/android/GDGameThreedAndroidApplicationNoLicensingGradle/.idea
/platformx/android/GDGameThreedAndroidApplicationNoLicensingGradle/.gradle
/platformx/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/build
/platformx/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/release

/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.java
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.xsl
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.xml
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.MF
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.origin
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.original
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.properties
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.svg
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.png
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.ogg
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.txt
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.tmp
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.glsl
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.fp
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.vp
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.ttf
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.g
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.bak
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.bat
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/Makefile
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/resources/**
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*_obj
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*_md2
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*_mtl
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.png
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.jpg
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.xsl
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.xml
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.dat
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.properties
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.MF
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.origin
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.html
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.txt
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.ogg
/platformx/j2se/GDGameThreedJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.wav

/platformx/avian/GDGameThreedAvianJOGLApplicationM/src/main/resources/**

/platform/html/GDGamePlayNWarM/war/gd/**/*.png
/platform/html/GDGamePlayNWarM/war/gd/**/*.wav

GDGameGeneratedJavaLibraryKtM/src/main/java/**/*.xml
GDGameGeneratedJavaLibraryKtM/src/main/java/**/*.txt

/platform/html/GDGameHTMLPlaynJavaLibraryM/src/main/java/**/*.png
/platform/html/GDGameHTMLPlaynJavaLibraryM/src/main/java/**/*.ico
/platform/html/GDGameHTMLPlaynJavaLibraryM/src/main/java/**/*.html