*.class
*.json
.project
.classpath
.settings/
target/
bin/
gen/

Resources/**

**/com/sun/speech/**
package.html
*.Manifest
Manifest
*.tsj
*.tmj

font.png
gd_icon.ico

*.dll

strings.xml
build.gradle
gd_icon.png
game.xml
game.json
R.java
GD*GDNodes.java
PlatformAssetManager.java
GDGameSoftwareInfo.java
GD*GamePlaynResources.java
*GameCameraSetup.java
*ThreedLevelBuilder.java
AndroidResources.java
AndroidManifest.xml
GDRotationAnimation.txt
GDCustomGameLayer.java
GDCustomGameLayerFactory.java
GDGameAndroidActivity.java
GDGameAndroidEarlyResourceInitialization.java
GDGameThreedAndroidEarlyResourceInitialization.java
GDGameThreedLevelBuilderFactory.java
GDCustomCollidableBehavior.java
GDCustomMaskCollidableBehavior.java
GD*GameMusicFactory.java
GD*GameSoundsFactory.java
GDGame*LevelBuilder.java
GDGame*Canvas.java
*GDObjectsFactory*.java
GD*SpecialAnimation*.java
*SpecialAnimation*.xml
GDNonLayout.xml
GD*Sound.java
GD*Sounds.java
GDGlobal**.java
GD*GameGlobal*.java
GDGameBaseJavaLibraryM/src/main/java/org/allbinary/game/GDGameMIDlet.java
GDGameThreedBaseJavaLibraryM/src/main/java/org/allbinary/game/GDGameMIDlet.java
GDResources.java
GDLazyResources.java
GDGameCommandFactory.java
GDGame*CanvasRunnable.java
GD*GameGameResourcesImageBasedAnimationInterfaceFactoryInterfaceFactory.java
GD*GameTouchGameResourcesImageBasedAnimationInterfaceFactoryInterfaceFactory.java
GD*GameTwoDGameResourcesImageBasedAnimationInterfaceFactoryInterfaceFactory.java
GD*GameTwoDTouchGameResourcesImageBasedAnimationInterfaceFactoryInterfaceFactory.java
GDGameTwoDGlobalGameResourcesImageBasedAnimationInterfaceFactoryInterfaceFactory.java

/platform/avian/GDGameAvianApplicationM/src/main/java/**
/platform/avian/GDGameAvianApplicationM/src/**/*.svg
/platform/avian/GDGameAvianApplicationM/src/**/*.png
/platform/avian/GDGameAvianApplicationM/src/**/*.xsl
/platform/avian/GDGameAvianApplicationM/src/**/*.xml
/platform/avian/GDGameAvianApplicationM/src/**/*.dat
/platform/avian/GDGameAvianApplicationM/src/**/*.properties
/platform/avian/GDGameAvianApplicationM/src/**/*.MF
/platform/avian/GDGameAvianApplicationM/src/**/*.origin
/platform/avian/GDGameAvianApplicationM/src/**/*.html
/platform/avian/GDGameAvianApplicationM/src/**/*.txt
/platform/avian/GDGameAvianApplicationM/src/**/*.ogg
/platform/avian/GDGameAvianJOGLApplicationM/src/main/java/**
/platform/avian/GDGameAvianJOGLApplicationM/src/**/*.svg
/platform/avian/GDGameAvianJOGLApplicationM/src/**/*.png
/platform/avian/GDGameAvianJOGLApplicationM/src/**/*.xsl
/platform/avian/GDGameAvianJOGLApplicationM/src/**/*.xml
/platform/avian/GDGameAvianJOGLApplicationM/src/**/*.dat
/platform/avian/GDGameAvianJOGLApplicationM/src/**/*.properties
/platform/avian/GDGameAvianJOGLApplicationM/src/**/*.MF
/platform/avian/GDGameAvianJOGLApplicationM/src/**/*.origin
/platform/avian/GDGameAvianJOGLApplicationM/src/**/*.html
/platform/avian/GDGameAvianJOGLApplicationM/src/**/*.txt
/platform/avian/GDGameAvianJOGLApplicationM/src/**/*.ogg
/platform/j2se/GDGameJ2SEApplicationM/src/**/*.java
/platform/j2se/GDGameJ2SEApplicationM/src/**/*.svg
/platform/j2se/GDGameJ2SEApplicationM/src/**/*.png
/platform/j2se/GDGameJ2SEApplicationM/src/**/*.xsl
/platform/j2se/GDGameJ2SEApplicationM/src/**/*.xml
/platform/j2se/GDGameJ2SEApplicationM/src/**/*.dat
/platform/j2se/GDGameJ2SEApplicationM/src/**/*.properties
/platform/j2se/GDGameJ2SEApplicationM/src/**/*.MF
/platform/j2se/GDGameJ2SEApplicationM/src/**/*.origin
/platform/j2se/GDGameJ2SEApplicationM/src/**/*.html
/platform/j2se/GDGameJ2SEApplicationM/src/**/*.txt
/platform/j2se/GDGameJ2SEApplicationM/src/**/*.ogg
/platform/j2se/GDGameJ2SEApplicationM/src/**/*.wav
/platform/j2se/GDGameJ2SEWithSWTApplicationM/src/main/java/**
/platform/j2se/GDGameJ2SEWithSWTApplicationM/src/**/*.svg
/platform/j2se/GDGameJ2SEWithSWTApplicationM/src/**/*.png
/platform/j2se/GDGameJ2SEWithSWTApplicationM/src/**/*.xsl
/platform/j2se/GDGameJ2SEWithSWTApplicationM/src/**/*.xml
/platform/j2se/GDGameJ2SEWithSWTApplicationM/src/**/*.dat
/platform/j2se/GDGameJ2SEWithSWTApplicationM/src/**/*.properties
/platform/j2se/GDGameJ2SEWithSWTApplicationM/src/**/*.MF
/platform/j2se/GDGameJ2SEWithSWTApplicationM/src/**/*.origin
/platform/j2se/GDGameJ2SEWithSWTApplicationM/src/**/*.html
/platform/j2se/GDGameJ2SEWithSWTApplicationM/src/**/*.txt
/platform/j2se/GDGameJ2SEWithSWTApplicationM/src/**/*.ogg
/platform/j2se/GDGameJ2SEWithSWTApplicationM/src/**/*.wav
/platform/j2se/GDGameJ2SEWithSWTApplication_3_115_100M/src/main/java/**
/platform/j2se/GDGameJ2SEWithSWTApplication_3_115_100M/src/**/*.svg
/platform/j2se/GDGameJ2SEWithSWTApplication_3_115_100M/src/**/*.png
/platform/j2se/GDGameJ2SEWithSWTApplication_3_115_100M/src/**/*.xsl
/platform/j2se/GDGameJ2SEWithSWTApplication_3_115_100M/src/**/*.xml
/platform/j2se/GDGameJ2SEWithSWTApplication_3_115_100M/src/**/*.dat
/platform/j2se/GDGameJ2SEWithSWTApplication_3_115_100M/src/**/*.properties
/platform/j2se/GDGameJ2SEWithSWTApplication_3_115_100M/src/**/*.MF
/platform/j2se/GDGameJ2SEWithSWTApplication_3_115_100M/src/**/*.origin
/platform/j2se/GDGameJ2SEWithSWTApplication_3_115_100M/src/**/*.html
/platform/j2se/GDGameJ2SEWithSWTApplication_3_115_100M/src/**/*.txt
/platform/j2se/GDGameJ2SEWithSWTApplication_3_115_100M/src/**/*.ogg
/platform/j2se/GDGameJ2SEWithSWTApplication_3_115_100M/src/**/*.c
/platform/j2se/GDGameJ2SEWithSWTApplication_3_115_100M/src/**/*.h
/platform/j2se/GDGameJ2SEWithSWTJOGLApplicationM/src/main/java/**
/platform/j2se/GDGameJ2SEWithSWTJOGLApplicationM/src/**/*.svg
/platform/j2se/GDGameJ2SEWithSWTJOGLApplicationM/src/**/*.png
/platform/j2se/GDGameJ2SEWithSWTJOGLApplicationM/src/**/*.xsl
/platform/j2se/GDGameJ2SEWithSWTJOGLApplicationM/src/**/*.xml
/platform/j2se/GDGameJ2SEWithSWTJOGLApplicationM/src/**/*.dat
/platform/j2se/GDGameJ2SEWithSWTJOGLApplicationM/src/**/*.properties
/platform/j2se/GDGameJ2SEWithSWTJOGLApplicationM/src/**/*.MF
/platform/j2se/GDGameJ2SEWithSWTJOGLApplicationM/src/**/*.origin
/platform/j2se/GDGameJ2SEWithSWTJOGLApplicationM/src/**/*.html
/platform/j2se/GDGameJ2SEWithSWTJOGLApplicationM/src/**/*.txt
/platform/j2se/GDGameJ2SEWithSWTJOGLApplicationM/src/**/*.ogg
/platform/j2se/GDGameJ2SEWithSWTJOGLApplicationM/src/**/*.wav
/platform/j2se/GDGameJ2SEWithSWTJOGLFastBuildApplicationM/src/main/java/**
/platform/j2se/GDGameJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.svg
/platform/j2se/GDGameJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.png
/platform/j2se/GDGameJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.xsl
/platform/j2se/GDGameJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.xml
/platform/j2se/GDGameJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.dat
/platform/j2se/GDGameJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.properties
/platform/j2se/GDGameJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.MF
/platform/j2se/GDGameJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.origin
/platform/j2se/GDGameJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.html
/platform/j2se/GDGameJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.txt
/platform/j2se/GDGameJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.ogg
/platform/j2se/GDGameJ2SEWithSWTJOGLFastBuildApplicationM/src/**/*.wav
/platform/j2me/GDGameJ2MEApplicationM/src/**/*.java
/platform/j2me/GDGameJ2MEApplicationM/src/**/*.svg
/platform/j2me/GDGameJ2MEApplicationM/src/**/*.png
/platform/j2me/GDGameJ2MEApplicationM/src/**/*.xsl
/platform/j2me/GDGameJ2MEApplicationM/src/**/*.xml
/platform/j2me/GDGameJ2MEApplicationM/src/**/*.dat
/platform/j2me/GDGameJ2MEApplicationM/src/**/*.properties
/platform/j2me/GDGameJ2MEApplicationM/src/**/*.MF
/platform/j2me/GDGameJ2MEApplicationM/src/**/*.origin
/platform/j2me/GDGameJ2MEApplicationM/src/**/*.html
/platform/j2me/GDGameJ2MEApplicationM/src/**/*.txt
/platform/j2me/GDGameJ2MEApplicationM/src/**/*.ogg
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.java
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.xsl
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.xml
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.MF
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.origin
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.original
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.properties
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.svg
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.png
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.ogg
/platform/html/GDGameHTMLTempM/src/**
./platform/html/GDGamePlayNM/src/playn/core/GraphicsTestGame.java
./platform/html/GDGamePlayNM/src/playn/core/SoundTestGame.java
/platform/html/GDGamePlayNWarM/war/gd/res
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.java
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.xsl
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.xml
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.MF
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.origin
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.original
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.properties
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.svg
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.png
/platform/android/GDGameAndroidApplicationM/src/main/java/**/*.ogg
/platform/android/GDGameAndroidApplicationM/src/main/res/drawable/
/platform/android/GDGameAndroidApplicationM/src/main/res/raw/
/platform/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/**/*.xml
/platform/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.java
/platform/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.xsl
/platform/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.xml
/platform/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.MF
/platform/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.origin
/platform/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.original
/platform/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.properties
/platform/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.svg
/platform/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.png
/platform/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.ogg
/platform/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/res/drawable/
/platform/android/GDGameAndroidApplicationNoLicensingGradle/app/src/main/res/raw/
/platform/android/GDGameThreedAndroidApplicationM/src/main/java/**/*.java
/platform/android/GDGameThreedAndroidApplicationM/src/main/java/**/*.xsl
/platform/android/GDGameThreedAndroidApplicationM/src/main/java/**/*.xml
/platform/android/GDGameThreedAndroidApplicationM/src/main/java/**/*.MF
/platform/android/GDGameThreedAndroidApplicationM/src/main/java/**/*.origin
/platform/android/GDGameThreedAndroidApplicationM/src/main/java/**/*.original
/platform/android/GDGameThreedAndroidApplicationM/src/main/java/**/*.properties
/platform/android/GDGameThreedAndroidApplicationM/src/main/java/**/*.svg
/platform/android/GDGameThreedAndroidApplicationM/src/main/java/**/*.png
/platform/android/GDGameThreedAndroidApplicationM/src/main/java/**/*.ogg
/platform/android/GDGameThreedAndroidApplicationM/src/main/res/drawable/
/platform/android/GDGameThreedAndroidApplicationM/src/main/res/raw/
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/**/*.xml
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.java
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.xsl
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.xml
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.MF
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.origin
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.original
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.properties
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.svg
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.png
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/java/**/*.ogg
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/res/drawable/
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/src/main/res/raw/
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/.idea
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/.gradle
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/build
/platform/android/GDGameThreedAndroidApplicationNoLicensingGradle/app/release

/platform/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.java
/platform/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.xsl
/platform/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.xml
/platform/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.MF
/platform/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.origin
/platform/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.original
/platform/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.properties
/platform/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.svg
/platform/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.png
/platform/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.ogg
/platform/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.txt
/platform/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.tmp
/platform/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.glsl
/platform/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.fp
/platform/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.vp
/platform/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.ttf
/platform/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.g
/platform/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.bak
/platform/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/*.bat
/platform/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/java/**/Makefile
/platform/j2se/GDGameThreedJ2SEWithSWTJOGLApplicationM/src/main/resources/**

/platform/avian/GDGameThreedAvianJOGLApplicationM/src/main/resources/**

/platform/html/GDGamePlayNWarM/war/gd/**/*.png
/platform/html/GDGamePlayNWarM/war/gd/**/*.wav

GDGameGeneratedJavaLibraryKtM/src/main/java/**/*.xml
GDGameGeneratedJavaLibraryKtM/src/main/java/**/*.txt

/platform/html/GDGameHTMLPlaynJavaLibraryM/src/main/java/**/*.png
/platform/html/GDGameHTMLPlaynJavaLibraryM/src/main/java/**/*.ico
/platform/html/GDGameHTMLPlaynJavaLibraryM/src/main/java/**/*.html